@{
    ViewData["Title"] = "Contact";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<address>
    Stockton University<br />
    101 Vera King Farris Dr, Galloway, NJ 08205<br />
    <abbr title="Phone">P:</abbr>
    (609) 652-1776
</address>

<address>
    <strong>Support:</strong> <a href="PatrickH@example.com">Support@example.com</a><br />
    <strong>Marketing:</strong> <a href="PatrickH@example.com">Marketing@example.com</a>
</address>